.App {
  text-align: center;

  height: 100vh;
  background: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
header{
  height:80px;
  width: 100%;
  background: rgb(62, 154, 212);
  display:flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding-left:50px;
}

header h1{

  font-size: 25px;
  margin-left:50px;
} 
.Body{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 600px;;
  background: black;
  
}
.Display{
  background: white;
  width:80%;
  height:80%;

}
.Buttons{
  display:flex;
  justify-content: space-between;
  margin-top: 5px;
}
.Window{
  width:500px;
  height: 300px;
  background: white;
  margin-top: 60px;
  display:flex;
  flex-direction: column;
  padding:5px 5px 5px 5px;
} 

.BlueButtons{
  background:  rgb(62, 154, 212);
  color: white;
  border-radius: 15px;
  border: none;

}
.BlueButtonsDiv{
  width:200px;
  display:flex;
  justify-content:space-evenly;

}
.BlackButtons{
  background: black;
  color: white;
  border-radius: 15px;
  border: none;
  font-weight: bold;
}
.PageNumber{
  font-weight:bold;
  justify-content: flex-end;
  display:flex; 
  
}
.FullName{
  font-weight: bold;
  font-size: 22px;
  display:flex;
  padding-left: 40px;
  text-decoration: underline;
  text-decoration-color: rgb(148, 211, 250);
}
.Description{
  display:flex;
  padding-left: 40px;
  height:22px;
}
.FaveMovies{
  display:flex;
  padding-left: 80px;
  height:22px;
}
